{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href ="{% static "favicon.ico" %}" type="image/x-icon" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    {% block head_title %}
        <meta name="description" content="">
        <meta name="author" content="emanar.ma">

        <title>Edussy.com</title>
    {% endblock %}

{% block css %}
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link type="text/css" rel="stylesheet" href={% static "vendor/Limitless_2_3/global_assets/css/icons/icomoon/styles.min.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "vendor/Limitless_2_3/assets/css/bootstrap.min.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "vendor/Limitless_2_3/assets/css/bootstrap_limitless.min.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "vendor/Limitless_2_3/assets/css/layout.min.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "vendor/Limitless_2_3/assets/css/components.min.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "vendor/Limitless_2_3/assets/css/colors.min.css" %}>
	<!-- /global stylesheets -->

{% endblock css %}



</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-light">

		<!-- Header with logos -->
		<div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
			<div class="navbar-brand navbar-brand-md">
				<a href="index.html" class="d-inline-block">
					<img src="{% static "images/logo_n3.png" %}" width ="92px" height="50px"  alt="">
				</a>
			</div>

			<div class="navbar-brand navbar-brand-xs">
				<a href="index.html" class="d-inline-block">
					<img src="{% static "images/logo_iconx.png" %}" width ="40px" height="40px" alt="">
				</a>
			</div>
		</div>
		<!-- /header with logos -->


		<!-- Mobile controls -->
		<div class="d-flex flex-1 d-md-none">
			<div class="navbar-brand mr-auto">
				<a href="index.html" class="d-inline-block">
					<img src="{% static "images/logo2n.png" %}" width ="124px" height="50px" alt="">
				</a>
			</div>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>

			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>
		<!-- /mobile controls -->


		<!-- Navbar content -->
		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
						<i class="icon-people"></i>
						<span class="d-md-none ml-2">Users</span>
						<span class="badge badge-mark border-pink-400 ml-auto ml-md-0"></span>
					</a>

					<div class="dropdown-menu dropdown-content wmin-md-300">
						<div class="dropdown-content-header">
							<span class="font-weight-semibold">Users online</span>
							<a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>
						</div>

						<div class="dropdown-content-body dropdown-scrollable">
							<ul class="media-list">
								<li class="media">
									<div class="mr-3">
										<img src="{%  static "vendor/limitless_2_3/global_assets/images/placeholders/placeholder.jpg"%}" width="36" height="36" class="rounded-circle" alt="">
									</div>
									<div class="media-body">
										<a href="#" class="media-title font-weight-semibold">Jordana Ansley</a>
										<span class="d-block text-muted font-size-sm">Lead web developer</span>
									</div>
									<div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
								</li>


							</ul>
						</div>

						<div class="dropdown-content-footer bg-light">
							<a href="#" class="text-grey mr-auto">All users</a>
							<a href="#" class="text-grey"><i class="icon-gear"></i></a>
						</div>
					</div>
				</li>
			</ul>

			<span class="badge bg-pink-400 badge-pill ml-md-3 mr-md-auto">16 orders</span>

			<ul class="navbar-nav">
				<li class="nav-item dropdown">

                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_language_info for LANGUAGE_CODE as lang %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    <form action="{% url 'set_language' %}" method="post" id="change-language-form">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <input type="hidden" value="" name="language" id="language"/>
                    </form>

					<a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" data-target="#collapseLanguages">
                        {% with "images/"|add:lang.code|add:".png" as imagestatic %}
                         &nbsp;<img src="{% static imagestatic %}" class="img-flag mr-2" alt="Languages">&nbsp;{{ lang.name_local }}
                    {% endwith %}

					</a>

					<div class="dropdown-menu dropdown-menu-right" id="collapseLanguages">

                        {% for language in languages %}
                            {% with "images/"|add:language.code|add:".png" as imagestatic %}
                                {% if language.name_local == lang.name_local  %}
                                         <a class="dropdown-item active change-language" href="#"
                                            data-lang-code="{{ language.code }}"> <img src="{% static imagestatic %}"
                                            class="img-flag" alt=""> {{ language.name_local }} ({{ language.code }})</a>
                                {% else %}
                                    <a class="dropdown-item change-language" href="#"
                                            data-lang-code="{{ language.code }}"> <img src="{% static imagestatic %}"
                                            class="img-flag" alt=""> {{ language.name_local }} ({{ language.code }})</a>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}




					</div>
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
						<i class="icon-bubbles4"></i>
						<span class="d-md-none ml-2">Messages</span>
						<span class="badge badge-mark border-pink-400 ml-auto ml-md-0"></span>
					</a>

					<div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
						<div class="dropdown-content-header">
							<span class="font-weight-semibold">Messages</span>
							<a href="#" class="text-default"><i class="icon-compose"></i></a>
						</div>

						<div class="dropdown-content-body dropdown-scrollable">
							<ul class="media-list">
								<li class="media">
									<div class="mr-3 position-relative">
										<img src="{%  static "vendor/limitless_2_3/global_assets/images/placeholders/placeholder.jpg"%}" width="36" height="36" class="rounded-circle" alt="">
									</div>

									<div class="media-body">
										<div class="media-title">
											<a href="#">
												<span class="font-weight-semibold">James Alexander</span>
												<span class="text-muted float-right font-size-sm">04:58</span>
											</a>
										</div>

										<span class="text-muted">who knows, maybe that would be the best thing for me...</span>
									</div>
								</li>


							</ul>
						</div>

						<div class="dropdown-content-footer bg-light">
							<a href="#" class="text-grey mr-auto">All messages</a>
							<div>
								<a href="#" class="text-grey" data-popup="tooltip" title="Mark all as read"><i class="icon-radio-unchecked"></i></a>
								<a href="#" class="text-grey ml-2" data-popup="tooltip" title="Settings"><i class="icon-cog3"></i></a>
							</div>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        {% if user.professor.picture %}
						<img src="{{ user.professor.picture.url }}" class="rounded-circle mr-2" height="34" alt="">
                        {% endif %}
						<span>{{ user.first_name }}</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="{% url "profiles:profile" %}" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
						<a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
						<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-indigo-400 ml-auto">58</span></a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
						<a href="#" class="dropdown-item" data-toggle="modal" data-target="#logoutModal"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
		<!-- /navbar content -->

	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-user">
					<div class="card-body">
						<div class="media">
							<div class="mr-3" style="background-color: #ffffff">
                                {% if center.logo %}
								<a href="#" style="background-color: #ffffff"><img src="{{center.logo.url}}" width="80" height="50" class="rounded-circle" alt=""></a>
                                {% else %}
                                    <a href="#"><img src="{% static "vendor/Limitless_2_3/global_assets/images/placeholders/placeholder.jpg"%}" width="38" height="38" class="rounded-circle" alt=""></a>
                                {% endif %}
							</div>

							<div class="media-body">
								<div class="media-title font-weight-semibold">{{ center.shortname }}</div>
								<div class="font-size-xs opacity-50">
									<i class="icon-pin font-size-sm"></i> {{ center.city }}
								</div>
							</div>
                            {% if user.superadmin %}
							<div class="ml-3 align-self-center">
								<a href="{% url 'institut:centers:edit' center.pk %}" class="text-white"><i class="icon-cog3"></i></a>
							</div>
                            {% endif %}
						</div>
					</div>
				</div>
				<!-- /user menu -->


				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Main -->
						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item">
							<a href="index.html" class="nav-link active">
								<i class="icon-home4"></i>
								<span>
									Dashboard
									<span class="d-block font-weight-normal opacity-50">No active orders</span>
								</span>
							</a>
						</li>


						<li class="nav-item"><a href="../../../RTL/default/full/index.html" class="nav-link"><i class="icon-width"></i> <span>RTL version</span></a></li>
						<!-- /main -->

						<!-- Layout -->
						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Layout</div> <i class="icon-menu" title="Layout options"></i></li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-stack2"></i> <span>Page layouts</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Page layouts">
								<li class="nav-item"><a href="layout_fixed_navbar.html" class="nav-link">Fixed navbar</a></li>
								<li class="nav-item"><a href="layout_fixed_sidebar_custom.html" class="nav-link">Fixed sidebar - custom scroll</a></li>
								<li class="nav-item"><a href="layout_fixed_sidebar_native.html" class="nav-link">Fixed sidebar - native scroll</a></li>
								<li class="nav-item"><a href="layout_fixed_footer.html" class="nav-link">Fixed footer</a></li>
								<li class="nav-item"><a href="layout_hideable_navbar.html" class="nav-link">Hideable navbar</a></li>
								<li class="nav-item"><a href="layout_without_header.html" class="nav-link">Without page header</a></li>
								<li class="nav-item-divider"></li>
								<li class="nav-item"><a href="layout_boxed_default.html" class="nav-link">Boxed with default sidebar</a></li>
								<li class="nav-item"><a href="layout_boxed_mini.html" class="nav-link">Boxed with mini sidebar</a></li>
								<li class="nav-item"><a href="layout_boxed_full.html" class="nav-link">Boxed full width</a></li>
								<li class="nav-item"><a href="layout_boxed_content.html" class="nav-link">Boxed content</a></li>
							</ul>
						</li>

						<!-- /layout -->

					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->

		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
    {% block main %}
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Dashboard</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

					<div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
						<div class="btn-group">
							<button type="button" class="btn bg-indigo-400"><i class="icon-stack2 mr-2"></i> New report</button>
							<button type="button" class="btn bg-indigo-400 dropdown-toggle" data-toggle="dropdown"></button>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="dropdown-header">Actions</div>
								<a href="#" class="dropdown-item"><i class="icon-file-eye"></i> View reports</a>
								<a href="#" class="dropdown-item"><i class="icon-file-plus"></i> Edit reports</a>
								<a href="#" class="dropdown-item"><i class="icon-file-stats"></i> Statistics</a>
								<div class="dropdown-header">Export</div>
								<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to PDF</a>
								<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to CSV</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content pt-0">
            {% block content %}


				<!-- Dashboard content -->

				<!-- /dashboard content -->
            {% endblock content %}
			</div>
			<!-- /content area -->


			<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
						<i class="icon-unfold mr-2"></i>
						Footer
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; 2020 - 2021. <a href="#">www.Edussy.com</a> a <a href="#" target="_blank">Edussy product</a>
					</span>

					<ul class="navbar-nav ml-lg-auto">
						<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
						<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
						<li class="nav-item"><a href="#" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Register</span></a></li>
					</ul>
				</div>
			</div>
			<!-- /footer -->

		</div>
    {% endblock main %}
		<!-- /main content -->

     <!-- Custom background color -->
				<div id="logoutModal" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content bg-light">
							<div class="modal-header">
								<h5 class="modal-title">{% trans "Logout" %}</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body">
								<h6 class="font-weight-semibold">{% trans "Ready to Leave?" %}</h6>
								<p>{% trans "Select 'Logout' below if you are ready to end your current session." %}</p>


							</div>

							<div class="modal-footer">
								<button type="button" class="btn bg-teal-600" data-dismiss="modal">{% trans "Cancel" %}</button>
                                <a href="{% url 'account_logout' %}"><button type="button" class="btn bg-danger-600">{% trans "Logout" %}</button></a>
							</div>
						</div>
					</div>
				</div>
				<!-- /custom background color -->


<div class="modal fade" id="logoutModalx" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% trans "Ready to Leave?" %}</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">{% trans "Select 'Logout' below if you are ready to end your current session." %}</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans "Cancel" %}</button>
          <a class="btn btn-primary" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
        </div>
      </div>
    </div>
  </div>
	</div>
	<!-- /page content -->
<!-- Core JS files -->
	<script src={% static "vendor/Limitless_2_3/global_assets/js/main/jquery.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/main/bootstrap.bundle.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/loaders/blockui.min.js" %}></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/visualization/d3/d3.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/visualization/d3/d3_tooltip.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/forms/styling/switchery.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/ui/moment/moment.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/pickers/daterangepicker.js" %}></script>

	<script src={% static "vendor/Limitless_2_3/assets/js/app.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_pages/dashboard.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_charts/pages/dashboard/light/streamgraph.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_charts/pages/dashboard/light/sparklines.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_charts/pages/dashboard/light/lines.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_charts/pages/dashboard/light/areas.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_charts/pages/dashboard/light/donuts.js" %} ></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_charts/pages/dashboard/light/bars.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_charts/pages/dashboard/light/progress.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_charts/pages/dashboard/light/heatmaps.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_charts/pages/dashboard/light/pies.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_charts/pages/dashboard/light/bullets.js" %}></script>
    	<!-- /theme JS files -->
    <script>
        $(function () {


            $('.change-language').click(function (e) {
                    $('#language').val($(this).attr('data-lang-code'));
                    $('#change-language-form').submit();
        });
        });
    </script>
    {% block project_js %}
  <!-- Page level custom scripts -->

{% endblock project_js %}
</body>
</html>
