{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content_title %}
  {% comment %}<div class="text-center">
<h2 class="h3">{% trans "My Profile" %}</h2>
  </div>{% endcomment %}
{% endblock content_title %}

{% block content %}
     <div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans "Home" %}</span> - {% trans "Profile Page" %}</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

					{% comment %}<div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
						<div class="btn-group">
							<button type="button" class="btn bg-indigo-400"><i class="icon-stack2 mr-2"></i> New report</button>
							<button type="button" class="btn bg-indigo-400 dropdown-toggle" data-toggle="dropdown"></button>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="dropdown-header">Actions</div>
								<a href="#" class="dropdown-item"><i class="icon-file-eye"></i> View reports</a>
								<a href="#" class="dropdown-item"><i class="icon-file-plus"></i> Edit reports</a>
								<a href="#" class="dropdown-item"><i class="icon-file-stats"></i> Statistics</a>
								<div class="dropdown-header">Export</div>
								<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to PDF</a>
								<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to CSV</a>
							</div>
						</div>
					</div>{% endcomment %}
				</div>
    </div>
    <div class="d-md-flex align-items-md-start">
        <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-left wmin-300 border-0 shadow-0 sidebar-expand-md">
            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- Navigation -->
                <div class="card">
                    <div class="card-body bg-primary-400 text-center card-img-top" style="background-image: url({% static "vendor/Limitless_2_3/global_assets/images/backgrounds/panel_bg.png" %}); background-size: contain;">
                        <div class="card-img-actions d-inline-block mb-3">
                            {% if user.professor.picture %}
                            <img class="img-fluid rounded-circle" src="{{ user.professor.picture.url }}" width="170" height="170" alt="">
                            {% endif %}
                            {% comment %}<div class="card-img-actions-overlay rounded-circle">
                                <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                                    <i class="icon-plus3"></i>
                                </a>
                                <a href="user_pages_profile.html" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                                    <i class="icon-link"></i>
                                </a>
                            </div>{% endcomment %}
                        </div>

                        <h6 class="font-weight-semibold mb-0">{{ user.first_name }} {{ user.last_name }}</h6>
                        {% if user.professor %}
                            <span class="d-block opacity-75">{% trans "Professor" %}</span>
                        {% elif user.regadmin%}
                            <span class="d-block opacity-75">{% trans "Admin" %}</span>
                        {% elif user.superadmin%}
                            <span class="d-block opacity-75">{% trans "Super Admin" %}</span>
                        {% elif user.parent%}
                            <span class="d-block opacity-75">{% trans "Parent" %}</span>
                        {% elif user.is_student%}
                            <span class="d-block opacity-75">{% trans "Student" %}</span>
                        {% endif %}
                        {% comment %}<div class="list-icons list-icons-extended mt-3">
                            <a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body" data-original-title="Google Drive"><i class="icon-google-drive"></i></a>
                            <a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body" data-original-title="Twitter"><i class="icon-twitter"></i></a>
                            <a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body" data-original-title="Github"><i class="icon-github"></i></a>
                        </div>{% endcomment %}
                    </div>

                    <div class="card-body p-0">
                        <ul class="nav nav-sidebar mb-2">
                            <li class="nav-item-header">Navigation</li>
                            <li class="nav-item">
                                <a href="#profile" class="nav-link active" data-toggle="tab">
                                    <i class="icon-user"></i>
                                    My profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#schedule" class="nav-link" data-toggle="tab">
                                    <i class="icon-calendar3"></i>
                                    Schedule
                                    <span class="font-size-sm font-weight-normal opacity-75 ml-auto">02:56pm</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#inbox" class="nav-link" data-toggle="tab">
                                    <i class="icon-envelop2"></i>
                                    Inbox
                                    <span class="badge bg-danger badge-pill ml-auto">29</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#orders" class="nav-link" data-toggle="tab">
                                    <i class="icon-cart2"></i>
                                    Orders
                                    <span class="badge bg-success badge-pill ml-auto">16</span>
                                </a>
                            </li>
                            <li class="nav-item-divider"></li>
                            <li class="nav-item">
                                <a href="login_advanced.html" class="nav-link" data-toggle="modal" data-target="#logoutModal">
                                    <i class="icon-switch2"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /navigation -->



                <!-- Latest updates -->
                <div class="card">
                    <div class="card-header bg-transparent header-elements-inline">
                        <span class="card-title font-weight-semibold">Latest updates</span>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="mr-3">
                                    <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon">
                                        <i class="icon-git-pull-request"></i>
                                    </a>
                                </div>

                                <div class="media-body">
                                    Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                    <div class="text-muted font-size-sm">4 minutes ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <a href="#" class="btn bg-transparent border-warning text-warning rounded-round border-2 btn-icon">
                                        <i class="icon-git-commit"></i>
                                    </a>
                                </div>

                                <div class="media-body">
                                    Add full font overrides for popovers and tooltips
                                    <div class="text-muted font-size-sm">36 minutes ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <a href="#" class="btn bg-transparent border-info text-info rounded-round border-2 btn-icon">
                                        <i class="icon-git-branch"></i>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Chris Arney</a> created a new <span class="font-weight-semibold">Design</span> branch
                                    <div class="text-muted font-size-sm">2 hours ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <a href="#" class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon">
                                        <i class="icon-git-merge"></i>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Eugene Kopyov</a> merged <span class="font-weight-semibold">Master</span> and <span class="font-weight-semibold">Dev</span> branches
                                    <div class="text-muted font-size-sm">Dec 18, 18:36</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon">
                                        <i class="icon-git-pull-request"></i>
                                    </a>
                                </div>

                                <div class="media-body">
                                    Have Carousel ignore keyboard events
                                    <div class="text-muted font-size-sm">Dec 12, 05:46</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /latest updates -->




            </div>
        </div>

        <div class="tab-content w-100">
            <div class="tab-pane fade active show" id="profile">
                <!-- Profile info -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Profile information</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form action="" class="bg-white p-5 contact-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ formset.management_form }}
                            {{ form|crispy }}
                            {% for profile_form in formset %}
                              {{ profile_form|crispy }}
                            {% endfor %}
                            <div class="form-group">
                                <a class="btn btn-outline-primary py-3 px-5" href="{% url "account_email" %}" role="button">{% trans "Manage emails" %}</a>
                              <input type="submit" value='{% trans "Update" %}' class="btn btn-primary py-3 px-5">
                            </div>
                          </form>
                    </div>
                </div>
                <!-- /profile info -->

            {% comment %}{% for field in profile_form %}
    <div class="fieldWrapper">
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        <div class="alert alert-danger">{{ field.errors }}</div>
    </div>
{% endfor %}{% endcomment %}
            </div>
        </div>
    </div>

{% endblock content %}