{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}
    <title>{% trans "Schedulling" %} {{ acayear }}</title>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "vendor/Limitless_2_3/global_assets/js/plugins/fullcalender/main.min.css" %} >

    <style>

  body {

    font-size: 14px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }

  external-events {

    left: 2px;
    top: 20px;
    width: 250px;
    padding: 0 1px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
  }

  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }

  #external-events .fc-event {
    margin: 3px 0;
    cursor: move;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar-wrap {
    margin-left: 20px;
  }

  #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }

</style>
{% endblock css %}
{% block content %}
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans "Home" %}</span> - {% trans "Calender" %} </h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>

            </div>
            <div id="course-added-alert" class="alert alert-success alert-styled-right alert-arrow-right alert-dismissible d-none">
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                    <span class="font-weight-semibold">Well done! Course has been added successfully</span>
                </div>

            {% comment %}<div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
						<div class="btn-group">
							<button type="button" class="btn bg-indigo-400"><i class="icon-stack2 mr-2"></i> New report</button>
							<button type="button" class="btn bg-indigo-400 dropdown-toggle" data-toggle="dropdown"></button>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="dropdown-header">Actions</div>
								<a href="#" class="dropdown-item"><i class="icon-file-eye"></i> View reports</a>
								<a href="#" class="dropdown-item"><i class="icon-file-plus"></i> Edit reports</a>
								<a href="#" class="dropdown-item"><i class="icon-file-stats"></i> Statistics</a>
								<div class="dropdown-header">Export</div>
								<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to PDF</a>
								<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to CSV</a>
							</div>
						</div>
					</div>{% endcomment %}
        </div>
    </div>
    <!-- /page header -->

    <div class="d-md-flex align-items-md-start justify-content-center" id='wrap'>

        <div class="tab-content w-100">
            <div class="tab-pane fade active show" id="profile">
                <!-- Profile info -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">{{ classe }} {% trans "Calender" %} </h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div id='calendar-wrap'>
                            <div id='calendar'></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock content %}


{% block project_js %}
    {{ block.super }}


    <script>

     document.addEventListener('DOMContentLoaded', function() {


    /* initialize the calendar
    -----------------------------------------------------------------*/

         var calendarEl = document.getElementById('calendar');

         var calendar = new FullCalendar.Calendar(calendarEl, {
             headerToolbar: {
                 left: '',
                 center: 'title',
                 right: 'timeGridWeek,listWeek'
             },

             //initialDate: '2019-12-30',
             navLinks: true, // can click day/week names to navigate views

             selectMirror: true,
             initialView: 'timeGridWeek',
             hiddenDays: [ 0 ],
             dayHeaderFormat: { weekday: 'short' },


             dayMaxEvents: true, // allow "more" link when too many events
             allDaySlot: false,
             slotMinTime: "07:00:00",
            slotLabelFormat: [
            {
                hour: 'numeric',
                minute: '2-digit',
                meridiem: false
            }
            ],


         eventTimeFormat: { // like '14:30:00'
            hour: '2-digit',
            minute: '2-digit',
            meridiem: false
          },

            events: [
                 {% for event in object_list %}
                     {
                         title: '{{ event.name }}',
                         start: '{{ event.datedue | date:"Y-m-d H:i" }}',
                         end: '{{ event.datedue | date:"Y-m-d H:i" }}',
                         id: '{{ event.id }}',
                         color: '#123477',


                     },
                 {% endfor%}

                {% for event in coursework %}
                     {
                         title: '{{ event.name }}',
                         start: '{{ event.datedue | date:"Y-m-d H:i" }}',
                         end: '{{ event.datedue | date:"Y-m-d H:i" }}',
                         id: '{{ event.id }}',
                         color: '#224522',


                     },
                 {% endfor%}

            ],

         });

         calendar.render();

         {% if lang.code == "en" %}
             calendar.setOption('locale','en');
         {% elif lang.code == "fr" %}
             calendar.setOption('locale','fr');
         {% elif lang.code == "ar" %}
             calendar.setOption('locale','ar-ma');
         {% elif lang.code == "es" %}
             calendar.setOption('locale','es');
         {% endif %}
     });

    </script>
    {#<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/forms/styling/switchery.min.js" %}></script>#}
    <script src={% static "vendor/moment/moment.js" %}></script>
    <script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/fullcalender/main.min.js" %}></script>

    {% comment %}<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/ui/fullcalendar/daygrid/main.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/ui/fullcalendar/timegrid/main.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/ui/fullcalendar/list/main.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/ui/fullcalendar/interaction/main.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/ui/fullcalendar/core/locales/ar.js" %}></script>{% endcomment %}

{#   <script src={% static "vendor/Limitless_2_3/assets/js/calender.js" %}></script>#}
    {#	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_pages/fullcalendar_advanced.js" %}></script>#}

    {#	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_pages/datatables_extension_select.js" %}></script>#}

{% endblock project_js %}