{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
 {% block head_title %}
     <title>{% trans "Attendance List" %} {{ acayear }}</title>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link href={% static "css/searchresult.css" %} rel="stylesheet">

    <style>
        .card {
            margin-bottom: 15px;
        }

        .icon-action {
            margin-top: 5px;
            float: right;
            font-size: 80%;
        }

        .list-group-item .title {
            margin-top: 5px;
            margin-bottom: 12px;
            font-weight: 600;
        }
    </style>
{% endblock css %}
{% block content %}
    <!-- Page header -->
			<div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans "Home" %}</span> - {% trans "Attendance" %} </h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>


				</div>
			</div>
			<!-- /page header -->


        <div class="row">
            <div class="col-md-3">
                <div class="card">
								<div class="card-body bg-slate-400 text-center card-img-top" style="background-size: contain;">
                                    <a href="{% url 'institut:studentcalender' student.pk %}">
									<div class="card-img-actions d-inline-block mb-3">
                                        <img class="img-fluid " src="{% static "images/calendar.png" %}" width="100" height="100" alt="">

									</div>

						    		<h6 class="font-weight-semibold mb-0" style="color: #ffffff">{% trans "Class Schedule" %}</h6>
						    		<span class="d-block opacity-75" style="color: #ffffff">{{ acayear }}</span>
                                    </a>


						    	</div>


							</div>
            </div>

        <div class="col-md-9">
            <div class="tab-pane fade active show" id="profile">
                <!-- Profile info -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">{% trans "Attendance List" %} </h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    </div>
                <table class="table datatable-button-html5-columns">
						<thead>
							<tr>
                                <th>{% trans "Student" %}</th>
								<th>{% trans "Date" %}</th>
								<th>{% trans "Course" %}</th>
								<th>{% trans "Time" %}</th>
                                <th>{% trans "Type" %}</th>

{#								<th>{% trans "End Date" %}</th>#}
							</tr>
						</thead>
                        <tbody>
                            {% for attend in object_list %}
							<tr role="row">

								<td class="sorting_1">{{ attend.student }}</td>
								<td>{{ attend.attendancedate }}</td>
								<td>{{ attend.coursetime.course }}</td>
                                <td>{{ attend.coursetime.starttime }}-{{ attend.coursetime.endtime }}</td>
                                {% if attend.status == "U" %}
                                    <td><span class="badge badge-primary">{% trans "Unexcused Absence" %}</span></td>
                                {% elif holiday.type == "E" %}
                                    <td><span class="badge badge-info">{% trans "Excused Absence" %}</span></td>
                                {% elif holiday.type == "L" %}
                                    <td><span class="badge badge-danger">{% trans "Late" %}</span></td>
                                {% endif %}
{#								<td>{{ holiday.enddate }}</td>#}

							</tr>
                           {% endfor %}

						</tbody>
					</table>
                </div>
            </div>
        </div>
        </div>


{% endblock content %}


{% block project_js %}
  {{ block.super }}
  <script>
  $("#id_area").html($("#id_area option").sort(function (a, b) {
    return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
}))
  </script>
    <script src={% static "js/course_search.js" %}></script>
    <script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/datatables.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/forms/selects/select2.min.js" %}></script>
    <script src={% static "vendor/Limitless_2_3/assets/js/datatables_holidays.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/extensions/buttons.min.js" %}></script>


	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_pages/datatables_extension_buttons_html5.js" %}></script>
{#	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_pages/datatables_extension_select.js" %}></script>#}
{% endblock project_js %}