{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content_title %}
  <h2 class="h3">{% trans "Classes" %}</h2>
{% endblock content_title %}
{% block css %}
    {{ block.super }}

{% endblock css %}


{% block content %}
        <div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans "Home" %}</span> - {{ classe }}</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

					{% comment %}<div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
						<div class="btn-group">
							<button type="button" class="btn bg-indigo-400"><i class="icon-stack2 mr-2"></i> New report</button>
							<button type="button" class="btn bg-indigo-400 dropdown-toggle" data-toggle="dropdown"></button>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="dropdown-header">Actions</div>
								<a href="#" class="dropdown-item"><i class="icon-file-eye"></i> View reports</a>
								<a href="#" class="dropdown-item"><i class="icon-file-plus"></i> Edit reports</a>
								<a href="#" class="dropdown-item"><i class="icon-file-stats"></i> Statistics</a>
								<div class="dropdown-header">Export</div>
								<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to PDF</a>
								<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to CSV</a>
							</div>
						</div>
					</div>{% endcomment %}
				</div>
    </div>
    <div class="d-md-flex align-items-md-start">
        <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-left wmin-300 border-0 shadow-0 sidebar-expand-md">
            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- Navigation -->
							<div class="card">
								<div class="card-body bg-slate-400 text-center card-img-top" style="background-size: contain;">
                                    <a href="{% url 'institut:calenderedit' classe.pk %}">
									<div class="card-img-actions d-inline-block mb-3">
                                        <img class="img-fluid " src="{% static "images/calendar.png" %}" width="120" height="120" alt="">

									</div>

						    		<h6 class="font-weight-semibold mb-0" style="color: #ffffff">{% trans "Class Schedule" %}</h6>
						    		<span class="d-block opacity-75" style="color: #ffffff">{{ acayear }}</span>
                                    </a>


						    	</div>


							</div>
							<!-- /navigation -->



                <!-- List of courses -->
                <div class="card">
                    <div class="card-header bg-transparent header-elements-inline">
                        <span class="card-title font-weight-semibold">{% trans "List of Courses" %}</span>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul class="media-list">
                            {% for course in courses %}
                            <li class="media">
                                <div class="mr-3">
                                    <a href="{% url 'institut:edittime' course.pk %}" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon">
                                        <i class="icon-git-commit"></i>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <a href="{% url 'institut:edittime' course.pk %}">{{ course.title }}</a>
                                    <div class="text-muted font-size-sm">
                                        {% if course.active %}
                                        {% trans "Active" %}
                                        {% else %}
                                        {% trans "Innactive" %}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'institut:create' classe.pk%}" class="btn bg-pink-400">
                            <i class="icon-add-to-list mr-2"></i>
									{% trans "Create a Course" %}
                        </a>
                    </div>
                </div>
                <!-- /List of courses -->
                <!-- List of students -->
							<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="card-title font-weight-semibold">{% trans "Students List" %}</span>
									<div class="header-elements">
										<span class="badge bg-success badge-pill">{{ student_count }}</span>
			                		</div>
								</div>

								<div class="card-body">
									<ul class="media-list">
                                    {% for student in students %}
										<li class="media">
											<a href="#" class="mr-3">
                                                {% if student.picture %}
												    <img src="{{ student.picture.url }}" width="36" height="36" class="rounded-circle" alt="">
                                                {% else %}
                                                    <i class="icon-reading"></i>
                                                {% endif %}
											</a>
											<div class="media-body">
												<a href="#" class="media-title font-weight-semibold">{{ student.user.last_name }} {{ student.user.first_name }}</a>
												<div class="font-size-sm text-muted">
                                                {% if student.user.is_active %}
                                                    {% trans "Active" %}
                                                {% else %}
                                                    {% trans "Innactive" %}
                                                {% endif %}
                                                </div>
											</div>
											<div class="ml-3 align-self-center">
												<span class="badge badge-mark border-success"></span>
											</div>
										</li>
                                    {% endfor %}

									</ul>
								</div>

								<div class="card-footer d-flex justify-content-between align-items-center py-2">
									<a href="#" class="text-grey">
										{% trans "All students" %}
									</a>

									<div>
										<a href="#" class="text-grey" data-popup="tooltip" title="Conference room"><i class="icon-comment"></i></a>
										<a href="#" class="text-grey ml-2" data-popup="tooltip" title="Settings"><i class="icon-gear"></i></a>
									</div>
								</div>
							</div>
							<!-- /online users -->



            </div>
        </div>

        <div class="tab-content w-100">
            <div class="tab-pane fade active show" id="profile">
                <!-- Profile info -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">{% trans "Class information" %}</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form action="" class="bg-white p-5 contact-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                             {{ form|crispy }}

                            <div class="form-group text-right">

                              <input type="submit" value='{% trans "Update" %}' class="btn btn-primary py-2 px-5">
                            </div>
                          </form>
                    </div>
                </div>
                <!-- /profile info -->

            {% comment %}{% for field in profile_form %}
    <div class="fieldWrapper">
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        <div class="alert alert-danger">{{ field.errors }}</div>
    </div>
{% endfor %}{% endcomment %}
            </div>
        </div>
    </div>







{% endblock content %}




{% block project_js %}
  {{ block.super }}

{% endblock project_js %}

