{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block content_title %}
  <h2 class="h3">{% trans "Classes" %}</h2>
{% endblock content_title %}
{% block css %}
    {{ block.super }}

{% endblock css %}


{% block content %}
        <div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans "Home" %}</span> - {{ classe }}</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>


				</div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- Navigation -->
							<div class="card">
								<div class="card-body bg-slate-400 text-center card-img-top" style="background-size: contain;">
                                    <a href="{% url 'institut:classcalender' classe.pk %}">
									<div class="card-img-actions d-inline-block mb-3">
                                        <img class="img-fluid " src="{% static "images/calendar.png" %}" width="100" height="100" alt="">

									</div>

						    		<h6 class="font-weight-semibold mb-0" style="color: #ffffff">{% trans "Class Schedule" %}</h6>
						    		<span class="d-block opacity-75" style="color: #ffffff">{{ acayear }}</span>
                                    </a>


						    	</div>


							</div>
							<!-- /navigation -->



                <!-- List of courses -->
                <div class="card">
                    <div class="card-header bg-transparent header-elements-inline">
                        <span class="card-title font-weight-semibold">{% trans "List of Courses" %}</span>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul class="media-list">
                        <span class="bg-light" style="font-weight: bold">My courses</span>
                            {% for course in mycourses %}
                            <li class="media">
                            {% if course.active %}
                                <div class="mr-3">
                                    <a href="{% url 'institut:edit' course.pk %}" class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon">
                                        <i class="icon-git-commit"></i>
                                    </a>
                                </div>
                            {% else %}
                                <div class="mr-3">
                                    <a href="{% url 'institut:edit' course.pk %}" class="btn bg-transparent border-grey-300 text-grey-300 rounded-round border-2 btn-icon">
                                        <i class="icon-git-commit"></i>
                                    </a>
                                </div>
                            {% endif %}
                                <div class="media-body">
                                    <a href="{% url 'institut:edit' course.pk %}">{{ course.title }}</a>
                                    <div class="text-muted font-size-sm">
                                        {% if course.active %}
                                        {% trans "Active" %}
                                        {% else %}
                                        {% trans "Innactive" %}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        <hr>
                        <span class="bg-light" style="font-weight: bold">Other courses</span>
                        {% for course in courses %}
                            <li class="media">
                                <div class="mr-3">
                                    <a href="" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon">
                                        <i class="icon-git-commit"></i>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <a href="">{{ course.title }}</a>
                                    <div class="text-muted font-size-sm">
                                        {{ course.professor }}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'institut:create' classe.pk%}" class="btn bg-pink-400">
                            <i class="icon-add-to-list mr-2"></i>
									{% trans "Create a Course" %}
                        </a>
                    </div>
                </div>
                <!-- /List of courses -->
                <!-- List of students -->

							<!-- /online users -->



            </div>
        </div>
        <div class="col-md-9">
           <div class="card">
                 <div class="card-header header-elements-inline">
                            <h5 class="card-title">{% trans "Class Information" %} </h5>

                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                    <a class="list-icons-item" data-action="reload"></a>
                                    <a class="list-icons-item" data-action="remove"></a>
                                </div>
                            </div>
                        </div>

                <div class="card-body">
                    <div class="row" style="border-bottom: 1px solid grey">
                        <div class = "col-md-2">
                            <span>{{ classe }}</span>
                            <div style="font-size: 12px;">
                        {% trans "Term: " %} {{ classe.academicyear }}
                    </div>
                        </div>
                        <div class = "col-md-2">
                            <span class="align-content-end" style="font-weight: bold;">{% trans "Class Level: " %} </span>{{ classe.grade }}

                        </div>
                    </div>

                    <br>

                    <div class="text-left" style="font-weight: bold; font-size: 14px;">
                        {% trans "Class Description" %}
                    </div>
                    <div class="col-md-9">


                    <span style="font-size: 12px;">
                        {{ classe.description }}
                    </span>
                    </div>

                </div>

                <div class="card-footer d-flex justify-content-between align-items-center py-2">

                    <div>
                        <a href="#" class="text-grey" data-popup="tooltip" title="Conference room"><i class="icon-comment"></i></a>
                        <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Settings"><i class="icon-gear"></i></a>
                    </div>
                </div>
            </div>

            <div class="card">
                 <div class="card-header header-elements-inline">
                            <h5 class="card-title">{% trans "Student List" %} </h5>

                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                    <a class="list-icons-item" data-action="reload"></a>
                                    <a class="list-icons-item" data-action="remove"></a>
                                </div>
                            </div>
                        </div>

                <div class="card-body">

                        <table class="table datatable-button-html5-columns">
                            <thead>
                            <tr>

                                <th>{% trans "Picture" %}</th>
                                <th>{% trans "Code" %}</th>
                                <th>{% trans "Student Name" %}</th>
                                <th>{% trans "Email" %}</th>
                                <th>{% trans "Parent Name" %}</th>
                                <th>{% trans "Parent contact" %}</th>
                                {#								<th>{% trans "End  ate" %}</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in students %}
                                <tr role="row">

                                    <td class="sorting_1">
                                        <a href="#" class="mr-3">
                                            {% if student.picture %}
                                                <img src="{{ student.picture.url }}" width="36" height="36" class="rounded-circle" alt="">
                                            {% else %}
                                                <i class="icon-reading"></i>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>{{ student.code }}</td>
                                    <td>{{ student.user.last_name }} {{ student.user.first_name }}</td>
                                    <td><a href="mailto:{{ student.user.email }}">
                                        {{ student.user.email }}</a></td>
                                    <td>{{ student.parent.user.last_name }} {{ student.parent.user.first_name }}</td>
                                    {% if student.parent.tel %}
                                        <td>{{ student.parent.tel }}</td>
                                    {% elif student.parent.user.email%}
                                        <td><a href="mailto:{{ student.parent.user.email }}">{{ student.parent.user.email }}</a></td>
                                    {% else %}
                                        <td>{% trans "none" %}</td>
                                    {% endif %}

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                </div>

                <div class="card-footer d-flex justify-content-between align-items-center py-2">
                    {% comment %}<a href="#" class="text-grey">
										{% trans "All students" %}
									</a>{% endcomment %}

                    <div>
                        <a href="#" class="text-grey" data-popup="tooltip" title="Conference room"><i class="icon-comment"></i></a>
                        <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Settings"><i class="icon-gear"></i></a>
                    </div>
                </div>
            </div>
        <!-- /comments -->
        <div class="card">
                 <div class="card-header header-elements-inline">
                            <h5 class="card-title">{% trans "Class Comments" %} </h5>

                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                    <a class="list-icons-item" data-action="reload"></a>
                                    <a class="list-icons-item" data-action="remove"></a>
                                </div>
                            </div>
                        </div>

                <div class="card-body">
                    {% get_comment_count for object as comment_count %}
                    <div class="py-4 text-center">

                      &nbsp;&sdot;&nbsp;
                      {{ comment_count }} comment{{ comment_count|pluralize }}
                      ha{{ comment_count|pluralize:"s,ve" }} been posted.
                    </div>

                    {% if comment_count %}
                        <ul class="media-list">
                          {% render_xtdcomment_tree for object allow_flagging allow_feedback show_feedback %}
                        </ul>
                    {% endif %}

                {% if object.allow_comments %}
                    <div class="card card-block mb-5">
                      <div class="card-body">
                        <h4 class="card-title text-center pb-3">{% trans "Post your comment"%}</h4>
                          {% render_comment_form for object %}
                      </div>
                    </div>
                {% endif %}
                </div>

                <div class="card-footer d-flex justify-content-between align-items-center py-2">

                    <div>
                        <a href="#" class="text-grey" data-popup="tooltip" title="Conference room"><i class="icon-comment"></i></a>
                        <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Settings"><i class="icon-gear"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>







{% endblock content %}




{% block project_js %}
  {{ block.super }}

    <script src={% static "js/course_search.js" %}></script>
    <script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/datatables.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/forms/selects/select2.min.js" %}></script>
    <script src={% static "vendor/Limitless_2_3/assets/js/datatables_studentlist.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js" %}></script>
	<script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/extensions/buttons.min.js" %}></script>


	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_pages/datatables_extension_buttons_html5.js" %}></script>
{#	<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_pages/datatables_extension_select.js" %}></script>#}
    <script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip({html: true});
  });
</script>
{% endblock project_js %}

