{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content_title %}
    <h2 class="h3">{% trans "Course Outline" %}</h2>


{% endblock content_title %}


{% block css %}
    {{ block.super }}

{% endblock css %}

{% block content %}
    <div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans "Home" %}</span> - {% trans "Course Outline Menu" %}</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>


				</div>
    </div>

    <div class="d-md-flex align-items-md-start justify-content-center">
        <div class="tab-content w-md-75">




                <div class="card">
                    <div class="card-header header-elements-inline">



                            <h6 class="card-title">{% trans "Course Outline for " %} {{ course.title }} </h6>

                             <a class=" btn btn-primary mb-4 btn"
                                        href="{% url 'institut:courseoutline_create' course.pk %}">{% trans "New Topic" %}</a>

								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
{#				                		<a class="list-icons-item" data-action="remove"></a>#}
				                	</div>
			                	</div>

                        </div>


                    <div class="card-body" ></div>
                    <table class="table datatable-responsive-row-control">
						<thead>
							<tr>
                                <th></th>
								<th>{% trans "Topic" %}</th>
								<th>{% trans "Week due" %}</th>
								<th>{% trans "Date due" %}</th>
                                <th>{% trans "Description" %}</th>
                                <th class="text-center">{% trans "Actions" %}</th>
{#								<th>{% trans "End Date" %}</th>#}
							</tr>
						</thead>
                        <tbody>
                            {% for courseoutline in object_list %}
							<tr role="row">
                                <td></td>
                                <td class="sorting_1"><a href="{% url 'institut:courseoutline_edit' courseoutline.pk %}">{{ courseoutline.name }}</a></td>
								<td>{{ courseoutline.weekdue }}</td>
								<td>{{ courseoutline.datedue|date:"D d M Y" }}</td>
                                <td>{{ courseoutline.description|slice:":22" }}</td>

{#								<td>{{ holiday.enddate }}</td>#}
                                <td class="text-center">
                                    <div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a href="{% url 'institut:courseoutline_edit' courseoutline.pk %}" class="dropdown-item"><i class="icon-pencil"></i> {% trans "Edit" %}</a>
												<a href="{% url 'institut:courseoutline_delete' courseoutline.pk %}" class="dropdown-item"><i class="icon-trash"></i> {% trans "Delete" %}</a>

											</div>
										</div>
									</div>
                                    {% comment %}<a href="{% url 'institut:holidays_edit' holiday.pk %}"><button type="button" class="btn bg-teal btn-sm float-right"><i class="icon-pencil"></i></button></a>
                                    <a href="{% url 'institut:holidays_delete' holiday.pk %}"><button type="button" class="btn btn-dark btn-sm float-right"><i class="icon-trash"></i></button></a>{% endcomment %}

                                </td>
							</tr>
                           {% endfor %}

						</tbody>
					</table>



                    <div class="card-footer">


                    </div>
                </div>



        </div>
    </div>


{% endblock content %}

{% block project_js %}
  {{ block.super }}
<script src={% static "vendor/Limitless_2_3/global_assets/js/demo_pages/components_popups.js" %}></script>
    <script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/datatables.min.js" %}></script>

    <script src={% static "vendor/Limitless_2_3/assets/js/datatables_holidays.js" %}></script>
    <script src={% static "vendor/Limitless_2_3/global_assets/js/plugins/tables/datatables/extensions/responsive.min.js" %}></script>
{% endblock project_js %}