{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content_title %}
    <h2 class="h3">{% trans "firebase" %}</h2>
{% endblock content_title %}



{% block content %}
<h2 id="fmessages"></h2>
Student ID: <input id="idbox" type="text" ></input> <br><br>
Student Name: <input id="namebox" type="text" ></input> <br><br>
Student Gender: <input id="genderbox" type="text" ></input> <br><br>

<br><br>
<button id="insert">Insert</button>
<button id ="select">Select</button>
<button id="update">Update</button>
<button id="delete">Delete</button>
<button id="displaylist">List</button>
<br>
<h4>List of students</h4><h4 id="nstudents"></h4>
<ul id="studentlist">

</ul>
{% endblock content %}

{% block project_js %}



<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-database.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBNGLDUcKmata_xjwsD1jgtHbuORHZA35U",
    authDomain: "js-test-app-ccd3f.firebaseapp.com",
    databaseURL: "https://js-test-app-ccd3f-default-rtdb.firebaseio.com",
    projectId: "js-test-app-ccd3f",
    storageBucket: "js-test-app-ccd3f.appspot.com",
    messagingSenderId: "286393695896",
    appId: "1:286393695896:web:2875d0da7ed3eaffff5aed"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  var fmessages = document.getElementById('fmessages');
  var dbref = firebase.database().ref().child('message');
  dbref.on('value', snap => fmessages.innerText = snap.val());

  var  namev, idv, genderv;
  function Ready(){
      namev = document.getElementById('namebox').value;
      idv = document.getElementById('idbox').value;
      genderv = document.getElementById('genderbox').value;

      nameboxi = document.getElementById('namebox')
      idboxi = document.getElementById('idbox')
      genderboxi = document.getElementById('genderbox')
  }
  document.getElementById('insert').onclick = function (){
      Ready();
      var ul = document.getElementById('studentlist');
      firebase.database().ref('student/'+idv).set({
          Student_Name:namev,
          Student_Id:idv,
          Student_Gender:genderv
      });
      if (ul){
            ul.innerHTML="";
            stNo=0;
            FetchAllData();
      }
  }

  document.getElementById('select').onclick = function (){
      Ready();
      if (idv){
          var dbref = firebase.database().ref('student/'+idv)
            dbref.on('value', snap => {
                nameboxi.value = snap.val().Student_Name;
                genderboxi.value = snap.val().Student_Gender;
            });
      }
  }

  document.getElementById('update').onclick = function (){
      Ready();
      var ul = document.getElementById('studentlist');
      firebase.database().ref('student/'+idv).update({
          Student_Name:namev,
          Student_Gender:genderv
      });
      if (ul){
            ul.innerHTML="";
            stNo=0;
            FetchAllData();
      }
  }

  document.getElementById('delete').onclick = function (){
      Ready();
      var ul = document.getElementById('studentlist');
      if (idv){

          nameboxi.value ="";
          genderboxi.value ="";
          firebase.database().ref('student/'+idv).remove();
          idboxi.value ="";
              if (ul){
                    ul.innerHTML="";
                    stNo=0;
                    FetchAllData();
              }
      }
      else {
            alert("Must enter an id");
        }
  }

  var stNo=0;
  var totalStudents=0;
  function AddItemToList(id, name,gen){
      var ul = document.getElementById('studentlist');
      var header = document.createElement('h2');

      var _idno = document.createElement('li');
      var _name = document.createElement('li');
      var _gender = document.createElement('li');
      header.innerHTML = 'Student-'+ (++stNo);
      _idno.innerHTML = 'ID: '+id;
      _name.innerHTML = 'Name: '+name;
      _gender.innerHTML = 'Gender: '+gen;

      ul.appendChild(header);
      ul.appendChild(_idno);
      ul.appendChild(_name);
      ul.appendChild(_gender);
  }

  function FetchAllData(){
      firebase.database().ref('student').once('value', function (snapshot){
          snapshot.forEach(
              function (ChildSnapshot){
                  let id = ChildSnapshot.val().Student_Id;
                  let name = ChildSnapshot.val().Student_Name;
                  let gender = ChildSnapshot.val().Student_Gender;
                  AddItemToList(id,name,gender);
              }
          )
      })
  }

  function CountData(){

      firebase.database().ref().child('student').on('value', function (snapshot){
          totalStudents = snapshot.numChildren();
          console.log(totalStudents);
           document.getElementById('nstudents').innerHTML = totalStudents;
      });

  }

  document.getElementById('displaylist').onclick = function (){

      var ul = document.getElementById('studentlist');
      ul.innerHTML="";
      stNo=0;
      FetchAllData();
  }

  window.onLoad(CountData())
</script>
{% endblock project_js %}