{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content_title %}
    <h2 class="h3">{% trans "Notifications" %}</h2>


{% endblock content_title %}


{% block css %}
    {{ block.super }}

{% endblock css %}

{% block content %}
    <div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans "Home" %}</span> - {% trans "Notifications" %}</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>


				</div>
    </div>

    <div class="d-md-flex align-items-start justify-content-center">
        <div class="tab-content w-md-50">

            <div class="font-size-lg text-uppercase font-weight-bold text-white bg-primary-400 pt-2 mb-2" style="padding-left: 10px; padding-bottom: 10px;">- {% trans "New Notifications" %} -</div>

                <div class="card-group-control card-group-control-right">
                    {% for notify in object_list %}
                            {% if not notify.parentread %}


                    <div class="card mb-2 ">
								<div class="card-header ">
									<h6 class="card-title text-left">
										<a class="text-default collapsed" data-toggle="collapse" href="#not{{ notify.id }}">
											<i class="icon-help mr-2 text-slate"></i>
                                        {% if notify.type == "A" %}
                                                {% trans "New Absence" %}
                                            {% elif notify.type == "G" %}
                                                {% trans "New Grade" %}
                                            {% elif notify.type == "O" %}
                                                {% trans "New Course Outline" %}
                                            {% elif notify.type == "W" %}
                                                {% trans "New Course Work" %}
                                            {% endif %}
                                        -
                                        <span class="text-muted">
                                            {% if notify.admin.is_professor %}
                                                {{ notify.admin }} <span class="text-muted font-size-sm">({% trans "Prof" %})</span>
                                            {% elif notify.admin.is_regadmin %}
                                                {% trans "Administration" %}
                                            {% endif %}
                                        </span>


										</a>
									</h6>
								</div>

								<div id="not{{ notify.id }}" class="collapse">
									<div class="card-body">
                                        <div style="font-weight: bold">{{ notify.course }}</div>
                                        {% if notify.type == "A" %}
                                                <a href="{% url "institut:prattendance" notify.student.pk %}">{{ notify }}</a>
                                            {% elif notify.type == "G" %}
                                                {% trans "New Grade" %}
                                            {% elif notify.type == "O" %}
                                                {% trans "New Course Outline" %}
                                            {% elif notify.type == "W" %}
                                                {% trans "New Course Work" %}
                                            {% endif %}

									</div>

									<div class="card-footer bg-transparent d-sm-flex align-items-sm-center border-top-0 pt-0">
                                    <span class="text-muted">
										{{ notify.notifydate|date:"SHORT_DATE_FORMAT" }}
                                    </span>
										<ul class="list-inline text-nowrap mb-0 ml-auto mt-2 mt-sm-0">
                                            {% if notify.type == "A" %}
                                            <li class="list-inline-item">
                                                {% if user.parent %}
                                                    <a href="{% url "institut:prattendance" notify.student.pk %}"><button type="button" class="btn bg-warning-400 btn-labeled btn-labeled-left rounded-round" ><b><i class="icon-calendar"></i></b> {% trans "Check attendance" %} </button></a>
                                            {% endif %}
                                            </li>
                                               {% endif %}
											<li class="list-inline-item">
                                                {% if user.parent %}
                                                <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left rounded-round" data-notify="{{ notify.id }}" id="{{ notify.id }}"><b><i class="icon-reading"></i></b> {% trans "Seen" %} </button>
                                            {% endif %}
                                            </li>

										</ul>
									</div>
								</div>
                    </div>
                            {% endif %}
                    {% endfor %}
                </div>
            {% comment %}<div class="card">
                <div class="card-header header-elements-inline">



                    <h6 class="card-title">{% trans "New Notifications" %}</h6>

                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>

                        </div>
                    </div>

                </div>


                <div class="card-body">


                    <p class="card-text">

                    <ul class="list-group">
                        {% for notify in object_list %}
                            {% if not notify.parentread %}
                                <div class="container-fluid">
                                    <div class="row" >
                                        <div class="col-md-4 ">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3">
                                                    <i class="icon-bell3 text-danger"></i>
                                                </div>
                                                <div>
                                                    <a href="" class="text-default font-weight-semibold letter-icon-title">{{ notify }}</a>

                                                </div>
                                            </div>

                                            {#                                <a href="{% url 'institut:classedit' classe.pk %}"> {{ classe }}</a>#}
                                        </div>
                                        <div class="col-md-2">
                                            <div class="text-default font-weight-semibold letter-icon-title">{{ notify.course }}</div>
                                        </div>
                                        <div class="col-md-2">
                                            {% if notify.admin.is_professor %}
                                                <div class="text-default font-weight-semibold letter-icon-title">{{ notify.admin }} <span class="text-muted font-size-sm">({% trans "Prof" %})</span> </div>
                                            {% elif notify.admin.is_regadmin %}
                                                <div class="text-default font-weight-semibold letter-icon-title">{% trans "Administration" %}</div>
                                            {% endif %}

                                        </div>
                                        <div class="col-md-2">
                                            <div class="text-default font-weight-semibold letter-icon-title">{{ notify.notifydate|date:"SHORT_DATE_FORMAT" }}</div>
                                        </div>
                                        <div class="col-md-2">
                                            {% if user.parent %}
                                                <button type="button" id="readnote" class="btn btn-primary py-1 px-2" data-notify="{{ notify.id }}" id="{{ notify.id }}"><i class="icon-thumbs-up2 "></i> </button>
                                            {% endif %}


                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                            <span style="font-size: xx-small; "><br></span>
                        {% empty %}
                            <li class="list-group-item">{% trans "No Notifications yet." %}</li>

                        {% endfor %}
                    </ul>

                    </p>
                </div>
                <div class="card-footer">


                </div>
            </div>{% endcomment %}

<div class="font-size-lg text-uppercase font-weight-bold text-white bg-success-400 pt-2 mb-2" style="padding-left: 10px; padding-bottom: 10px;">- {% trans "Previous Notifications" %} -</div>
            <div class="card">
                <div class="card-header header-elements-inline">



                    <h6 class="card-title">{% trans "Previous Notifications" %}</h6>

                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            {#				                		<a class="list-icons-item" data-action="remove"></a>#}
                        </div>
                    </div>

                </div>


                <div class="card-body">


                    <p class="card-text">

                    <ul class="list-group">
                        {% for notify in object_list %}
                            {% if notify.parentread %}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3">
                                                    <i class="icon-bell-check text-success"></i>
                                                </div>
                                                <div>
                                                    <a href="" class="text-default font-weight-semibold letter-icon-title">{{ notify }}</a>

                                                </div>
                                            </div>

                                            {#                                <a href="{% url 'institut:classedit' classe.pk %}"> {{ classe }}</a>#}
                                        </div>
                                        <div class="col-md-3">
                                            <div class="text-default font-weight-semibold letter-icon-title">{{ notify.course }}</div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="text-default font-weight-semibold letter-icon-title">{{ notify.professor }}</div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="text-default font-weight-semibold letter-icon-title">{{ notify.notifydate|date:"SHORT_DATE_FORMAT" }}</div>
                                        </div>
                                        <div class="col-md-1">



                                        </div>
                                    </div>
                                </div>
                                <br>
                            {% endif %}
                        {% empty %}
                            <li class="list-group-item">{% trans "No Notifications yet." %}</li>

                        {% endfor %}
                    </ul>

                    </p>
                </div>
                <div class="card-footer">


                </div>
            </div>

        </div>
    </div>


{% endblock content %}

{% block project_js %}
  {{ block.super }}
 <script>
        $('body').on('click', '[data-notify]', function() {
            var notifyid = $(this).data('notify');

            $.ajax({
                         type: "GET",
                         url: '/institut/edit_parentnotify',
                         data: {'notifyid': notifyid},
                         dataType: "json",
                         success: function (json) {
                            setTimeout(
                                function()
                                {
                                   location.reload();
                                }, 0001);
                         },
                         failure: function (json) {
                             alert('There is a problem!!!');
                         }
            });


        });

 </script>
{% endblock project_js %}