{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block content_title %}
  <h2 class="h3">{% trans "Classes" %}</h2>
{% endblock content_title %}
{% block css %}
    {{ block.super }}

{% endblock css %}


{% block content %}
        <div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans "Home" %}</span> - {% trans "Classes Page" %}</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

				</div>
        </div>
    <div class="row">
 <div class="col-md-3"> <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- Navigation -->
							<div class="card">
								<div class="card-body bg-slate-400 text-center card-img-top" style="background-size: contain;">
                                    <a href="{% url 'institut:profcalender' user.professor.pk%}">
									<div class="card-img-actions d-inline-block mb-3">
                                        <img class="img-fluid " src="{% static "images/calendar.png" %}" width="100" height="100" alt="">

									</div>

						    		<h6 class="font-weight-semibold mb-0" style="color: #ffffff">{% trans "My Schedule" %}</h6>
						    		<span class="d-block opacity-75" style="color: #ffffff">{{ acayear }}</span>
                                    </a>


						    	</div>


							</div>
							<!-- /navigation -->



                <!-- List of courses -->
                <div class="card">
                    <div class="card-header bg-transparent header-elements-inline">
                        <span class="card-title font-weight-semibold">{% trans "List of Courses" %}</span>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul class="media-list">
                            {% for course in courses %}
                            <li class="media">
                                <div class="mr-3">
                                    <a href="{% url 'institut:edittime' course.pk %}" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon">
                                        <i class="icon-git-commit"></i>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <a href="{% url 'institut:edit' course.pk %}">{{ course.title }}</a>
                                    <div class="text-muted font-size-sm">
                                        {{ course.classe }}
                                        {% comment %}{% if course.active %}
                                        {% trans "Active" %}
                                        {% else %}
                                        {% trans "Innactive" %}
                                        {% endif %}{% endcomment %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        {% comment %}<a href="{% url 'institut:create' classe.pk%}" class="btn bg-pink-400">
                            <i class="icon-add-to-list mr-2"></i>
									{% trans "Create a Course" %}
                        </a>{% endcomment %}
                    </div>
                </div>
                <!-- /List of courses -->
                <!-- List of students -->
							<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="card-title font-weight-semibold">{% trans "Classes List" %}</span>
									<div class="header-elements">
										<span class="badge bg-success badge-pill">{{ student_count }}</span>
			                		</div>
								</div>

								<div class="card-body">

								</div>

								<div class="card-footer d-flex justify-content-between align-items-center py-2">



								</div>
							</div>
							<!-- /online users -->



            </div>
        </div>

<div class="col-md-9">
        <div class="row">
            <div class="col-xl-7">
                <!-- Profile info -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">{% trans "Courses of"  %} {% now "l j-n-Y" %}</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>

                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul class="media-list">
                            {% for coursetime in currenttimes %}
                            <li class="media">
                                <div class="mr-3">
                                    <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon">
                                        <i class="icon-calendar52"></i>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <a href="#">{{ coursetime.course.title }} - ({{ coursetime.course.classe }})</a>
                                    <div class="text-muted font-size-sm">
                                         {{ coursetime.starttime }}-{{ coursetime.endtime }}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="row">
							<div class="col-lg-4">

								<!-- Members online -->
								<div class="card bg-teal-400">
									<div class="card-body">
										<div class="d-flex">
											<h3 class="font-weight-semibold mb-0">3,450</h3>
											<span class="badge bg-teal-800 badge-pill align-self-center ml-auto">+53,6%</span>
					                	</div>

					                	<div>
											Members online
											<div class="font-size-sm opacity-75">489 avg</div>
										</div>
									</div>

									<div class="container-fluid">
										<div id="members-online"></div>
									</div>
								</div>
								<!-- /members online -->

							</div>

							<div class="col-lg-4">

								<!-- Current server load -->
								<div class="card bg-pink-400">
									<div class="card-body">
										<div class="d-flex">
											<h3 class="font-weight-semibold mb-0">49.4%</h3>
											<div class="list-icons ml-auto">
						                		<div class="dropdown">
						                			<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i></a>
													<div class="dropdown-menu dropdown-menu-right">
														<a href="#" class="dropdown-item"><i class="icon-sync"></i> Update data</a>
														<a href="#" class="dropdown-item"><i class="icon-list-unordered"></i> Detailed log</a>
														<a href="#" class="dropdown-item"><i class="icon-pie5"></i> Statistics</a>
														<a href="#" class="dropdown-item"><i class="icon-cross3"></i> Clear list</a>
													</div>
						                		</div>
					                		</div>
					                	</div>

					                	<div>
											Current server load
											<div class="font-size-sm opacity-75">34.6% avg</div>
										</div>
									</div>

									<div id="server-load"></div>
								</div>
								<!-- /current server load -->

							</div>

							<div class="col-lg-4">

								<!-- Today's revenue -->
								<div class="card bg-blue-400">
									<div class="card-body">
										<div class="d-flex">
											<h3 class="font-weight-semibold mb-0">$18,390</h3>
											<div class="list-icons ml-auto">
						                		<a class="list-icons-item" data-action="reload"></a>
						                	</div>
					                	</div>

					                	<div>
											Today's revenue
											<div class="font-size-sm opacity-75">$37,578 avg</div>
										</div>
									</div>

									<div id="today-revenue"></div>
								</div>
								<!-- /today's revenue -->

							</div>
						</div>
            </div>


    <div class="col-xl-5">
                <!-- Profile info -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">{% trans "Classes List" %}</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>

                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul class="media-list">
                                    {% for classe in classes %}
										<li class="media">
                                        <div class="mr-3">
											<a href="#" class="btn bg-transparent border-danger text-danger rounded-round border-1 btn-icon">

                                                    <i class="icon-bookmark "></i>

                                            </a></div>
											<div class="media-body">
												<a href="{% url 'institut:profclasse' classe.pk %}" class="media-title font-weight-semibold">{{ classe }}</a>
												<div class="font-size-sm text-muted">
                                                {% if classe.active %}
                                                    {% trans "Active" %}
                                                {% else %}
                                                    {% trans "Innactive" %}
                                                {% endif %}
                                                </div>
											</div>

										</li>
                                    {% endfor %}

									</ul>
                    </div>
                </div>
                <!-- /profile info -->
                <div class="card">
							<div class="card-header header-elements-inline">
								<h6 class="card-title">{% trans "My Activity" %}</h6>
								<div class="header-elements">
									<span><i class="icon-history text-warning mr-2"></i> Jul 7, 10:30</span>
									<span class="badge bg-success align-self-start ml-3">Online</span>
								</div>
							</div>

							<!-- Numbers -->
							<div class="card-body py-0">
								<div class="row text-center">
									<div class="col-4">
										<div class="mb-3">
											<h5 class="font-weight-semibold mb-0">2,345</h5>
											<span class="text-muted font-size-sm">this week</span>
										</div>
									</div>

									<div class="col-4">
										<div class="mb-3">
											<h5 class="font-weight-semibold mb-0">3,568</h5>
											<span class="text-muted font-size-sm">this month</span>
										</div>
									</div>

									<div class="col-4">
										<div class="mb-3">
											<h5 class="font-weight-semibold mb-0">32,693</h5>
											<span class="text-muted font-size-sm">all messages</span>
										</div>
									</div>
								</div>
							</div>
							<!-- /numbers -->


							<!-- Area chart -->
							<div id="messages-stats"></div>
							<!-- /area chart -->


							<!-- Tabs -->
		                	<ul class="nav nav-tabs nav-tabs-solid nav-justified bg-indigo-400 border-x-0 border-bottom-0 border-top-indigo-300 mb-0">
								<li class="nav-item">
									<a href="#messages-tue" class="nav-link font-size-sm text-uppercase active" data-toggle="tab">
										Tuesday
									</a>
								</li>

								<li class="nav-item">
									<a href="#messages-mon" class="nav-link font-size-sm text-uppercase" data-toggle="tab">
										Monday
									</a>
								</li>

								<li class="nav-item">
									<a href="#messages-fri" class="nav-link font-size-sm text-uppercase" data-toggle="tab">
										Friday
									</a>
								</li>
							</ul>
							<!-- /tabs -->


							<!-- Tabs content -->
							<div class="tab-content card-body">
								<div class="tab-pane active fade show" id="messages-tue">
									<ul class="media-list">

                                        <li class="media">
											<div class="mr-3 position-relative">
												<a href="#" class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
											</div>

											<div class="media-body">
												<div class="d-flex justify-content-between">
													<a href="#">James Alexander</a>
													<span class="font-size-sm text-muted">14:58</span>
												</div>

												The constitutionally inventoried precariously...
											</div>
										</li>


									</ul>
								</div>

								<div class="tab-pane fade" id="messages-mon">
									<ul class="media-list">

                                        <li class="media">
											<div class="mr-3">
												<img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="36" height="36" alt="">
											</div>

											<div class="media-body">
												<div class="d-flex justify-content-between">
													<a href="#">Isak Temes</a>
													<span class="font-size-sm text-muted">Tue, 19:58</span>
												</div>

												Reasonable palpably rankly expressly grimy...
											</div>
										</li>


									</ul>
								</div>

								<div class="tab-pane fade" id="messages-fri">
									<ul class="media-list">

                                        <li class="media">
											<div class="mr-3">
												<img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="36" height="36" alt="">
											</div>

											<div class="media-body">
												<div class="d-flex justify-content-between">
													<a href="#">Owen Stretch</a>
													<span class="font-size-sm text-muted">Mon, 18:12</span>
												</div>

												Tardy rattlesnake seal raptly earthworm...
											</div>
										</li>


									</ul>
								</div>
							</div>
							<!-- /tabs content -->

						</div>
            </div>
        </div>


</div>
</div>



{% endblock content %}




{% block project_js %}
  {{ block.super }}

{% endblock project_js %}

