{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content_title %}

{% endblock content_title %}



{% block content %}
<div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans "Home" %}</span> - {% trans "School Group" %}</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

				</div>
    </div>
     <div class="d-md-flex align-items-md-start justify-content-center">
        <div class="tab-content w-md-75">




                <div class="card">
                    <div class="card-header header-elements-inline">

                        <h6 class="card-title">{% trans "Manage School Group" %}</h6>
                        <div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
{#				                		<a class="list-icons-item" data-action="remove"></a>#}
				                	</div>
                        </div>
                    </div>
                <div class="card-body" style="border: 1px; ">
                    {% if user.superadmin %}
                         <p class="card-text">
                            <ul class="list-group">
                                {% for schoolgroup in object_list %}

                                    <li class="list-group-item">
                                    <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <a href="{% url 'institut:schoolgroups:edit' schoolgroup.pk %}">{{ schoolgroup }}</a>
                                        </div>
                                        <div class="col-md-4">
                                              <a href="{% url 'institut:schoolgroups:delete' schoolgroup.pk %}" ><button type="button" class="btn btn-primary btn-sm float-right">
                                                  <i class="icon-trash mr-2"></i> {% trans "Delete" %}</button>
                                                </a>

                                              <a href="{% url 'institut:schoolgroups:edit' schoolgroup.pk %}" ><button type="button" class="btn btn-warning btn-sm float-right">
                                                  <i class="icon-pencil mr-2"></i>{% trans "Edit Prof" %}</button></a>
                                        </div>
                                    </div>
                                        </div>
                                    </li>

                                {% empty %}
                                  <li class="list-group-item">{% trans "No your centers yet." %}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
