{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content_title %}
  <h2 class="h3">{% trans "School Levels" %}</h2>
{% endblock content_title %}
{% block css %}
    {{ block.super }}

{% endblock css %}


{% block content %}
     <div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans "Home" %}</span> - {% trans "School Levels Menu" %}</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

					{% comment %}<div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
						<div class="btn-group">
							<button type="button" class="btn bg-indigo-400"><i class="icon-stack2 mr-2"></i> New report</button>
							<button type="button" class="btn bg-indigo-400 dropdown-toggle" data-toggle="dropdown"></button>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="dropdown-header">Actions</div>
								<a href="#" class="dropdown-item"><i class="icon-file-eye"></i> View reports</a>
								<a href="#" class="dropdown-item"><i class="icon-file-plus"></i> Edit reports</a>
								<a href="#" class="dropdown-item"><i class="icon-file-stats"></i> Statistics</a>
								<div class="dropdown-header">Export</div>
								<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to PDF</a>
								<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to CSV</a>
							</div>
						</div>
					</div>{% endcomment %}
				</div>
    </div>

    <div class="d-md-flex align-items-md-start justify-content-center">
        <div class="tab-content w-md-75">




                <div class="card">
                    <div class="card-header header-elements-inline">
                       <h6 class="card-title">{% trans "Create a School Level" %}</h6>


								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
{#				                		<a class="list-icons-item" data-action="remove"></a>#}
				                	</div>
			                	</div>




                    </div>
                    <div class="card-body">
                        <form action="" class="bg-white p-5 contact-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ formset.as_p }}
                            {{ form|crispy }}
                            <div class="form-group">
                              <input type="submit" value='{% trans "Submit" %}' class="btn btn-primary py-3 px-5 mt-3">
                            </div>
                      </form>


                    </div>
                    <div class="card-footer">


                    </div>
                </div>

            </div>

        </div>



{% endblock content %}




{% block project_js %}
  {{ block.super }}
  <script src={% static "vendor/jquery.formset.jss" %}></script>
  <script src={% static "jss/center_edit.jss" %}></script>
{% endblock project_js %}

